
#nav {
    padding: 30px;
  }
  
  #nav a {
    margin-left: 1px;
    padding: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  
  #nav a.router-link-exact-active {
    background-color: rgba(255, 255, 255, 0.205);
    margin-left: 0px;
    margin-right: 14px;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
  }
  
  #nav a:hover{
    background-color: rgba(255, 255, 255, 0.411);
    margin-left: 0px;
    margin-right: 14px;
    border: solid 1px #ffffff;
    border-radius: 5px;
  
  }