
#nav {
    margin-left: 25px;
    display: flex;
}
  
#nav a {
    padding: 20px;
    border: solid 1px blueviolet;
    font-weight: bold;
    color: #ffffff;
    height: clamp(15px, 19px, 19px);
}

#nav a.router-link-exact-active {
    background-color: rgba(255, 255, 255, 0.205);
    border: solid 1px #FFFFFF;
    border-radius: 5px;
}

#nav a:hover{
    background-color: rgba(255, 255, 255, 0.411);
    border: solid 1px #ffffff;
    border-radius: 5px;

}

.search-div
{   
    background-color: blueviolet;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.title-and-menu
{
    align-items: center;
    display: flex;
}

.menu-item
{
    color: white;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.website-title
{
    color: white;
    text-decoration: none;
    font-size: xx-large;
}

.search-toggle-container{
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dark-mode-toggle-switch{
    color: var(--main-darkmode-icon-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
}


.website-login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    margin-left: 1px;
    padding: 12px;
    max-height: 45px;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
    border: solid 1px blueviolet;
    border-radius: 5px;
    font-family: avenir, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.website-login-button:hover{
    background-color: rgba(255, 255, 255, 0.411);
    margin-left: 1px;
    border: solid 1px #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.search-input
{
    color: var(--main-button-text-color);
    padding: 15px;
    background-color: var(--main-card-bg-color);
    border: none;
    width: 200px;
    transition: width 0.2s;
    
}

.search-input-focus {
    width: 400px;
    outline: none;
    padding: 15px;
    background-color: var(--main-card-bg-color);
    border: none;
    transition: all 0.2s;
    
}
.search-input:focus{
    outline: none;
    width: 400px;
}
.svg-inline--fa.fa-bars.fa-w-14{
    /* display: none; */
    color: white;
}
.mini-menu-container{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(137, 43, 226, 0.261);
    backdrop-filter: blur(2px);
    color: teal;
    z-index: 9999999;
    
}
.mini-menu{
    width: 70%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.mini-menu-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}
.mini-menu-item{
    text-decoration: none;
    margin-bottom: 10px;
    padding: 20px 0px;
    border: none;
    width: 100%;
    color: var(--main-text-color);

}
.router-link-active.router-link-exact-active.mini-menu-item{
    background-color: blueviolet;
    color: #FFFFFF;
}
.mini-menu-profile-picture-container{
    background-color: blueviolet;
}
.mini-menu-profile-picture{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;

    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1245px)  {
    #nav {
        display: none;
    }
    .search-div{
        flex-direction: column;
    }
    
    .search-input-focus {
        width: 200px;       
    }
    .search-input:focus{
        width: 200px;
    }
    .search-dropdown{
        right: -50%;
    }
    .search-toggle-container{
        width: 405px;
    }
}
@media only screen and (max-width: 361px)  {
    #nav {
        display: none;
    }
    .search-div{
        flex-direction: column;
    }
    
    .search-input-focus {
        width: 200px;       
    }
    .search-input:focus{
        width: 200px;
    }
    .search-dropdown{
        right: -50%;
    }
    .search-toggle-container{
        display: none;
    }
    .search-profile-container{
        display: none;
    }
    .svg-inline--fa.fa-bars.fa-w-14{
        display: flex;
        color: white;
    }
    .website-title{
        font-size: larger;
    }




}

@media only screen and (max-width: 476px)  {

    .anime-card-image{
        height: 222px;
        min-width: 157px;
    }
}