@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root{
    --main-bg-color: #F7F6FB;
    --main-card-bg-color: #FFFFFF;
}
body {
    overflow-y: scroll;
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0px;
}
h1, h4{
    margin: 10px;
}
body::-webkit-scrollbar{
    background-color: #f7f6fb5b;
    width: 0.7rem;
}
body::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 7px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(168, 87, 243);
}


.datashower
{   display: flex;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    margin: 20px;
    box-shadow: #0000004d 2px 2px 6px 0px;
}

.button, .button-list
{
    padding: 15px;
    background-color: white;
    border: solid 2px blueviolet;
    border-radius: 5px;
}

.button:hover, .button-list
{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.button-selected{
    border: solid 2px blueviolet;
    padding: 15px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;

}
.button-search{
    padding: 15px;
    background-color: blueviolet;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
}
.button-search:hover{
    background-color: white;
    border-color: blueviolet;
    color: black;
    cursor: pointer;
}
.button-list{
    display: block;
    position: relative;
    left: 45%;
    width: 200px;
}

.image
{
    margin: 10px;
    margin-right: 0px;

}
.info-image{
 margin-right: 10px
}
.container
{
    width: 1350px;
    padding: 10px;
    /* border: black 2px solid; */
    margin: 10px;
}

.title, .info-title
{
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px gray solid;
}

.synopsis, .info-synopsis
{
    font-size: large;
    font-weight: 900;
}
.misc-info, .info-misc-info
{
    margin: 10px;
    border: black solid 2px;
    border-radius: 7px;
    padding: 10px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}
.info-misc-info {
    justify-content: center;  
}

.episodes, .info-episodes
{
    margin-top: 30px;
    margin-bottom: 10px;
}

.rating, .info-rating
{
    margin-top: 10px;
}

.search-div
{   
    background-color: blueviolet;
    padding-left: 100px;
    padding-right: 100px;
    padding: 15px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.website-title
{
    color: white;
    text-decoration: none;
    font-size: xx-large;
}

.search-input
{
    padding: 15px;
    background-color: #ffffff;
    border: none;
    width: 200px;
    transition: all 0.2s;
    
}
.search-input-focus {
    width: 400px;
    outline: none;
    padding: 15px;
    background-color: #ffffff;
    border: none;
    transition: all 0.2s;
    
}
.search-input:focus{
    outline: none;
    width: 400px;
}

.search-dropdown{
    background-color: #FFFFFF;
    position: absolute;
    width: 430px;
   
    transform: translateY(-2px);
    border-radius: 0px 0px 5px 5px;
    border-bottom: solid 3px blueviolet;
    box-shadow: #0000003d 2px 2px 6px 1px;

}




.list, .mainDiv
{
  list-style: decimal;
  min-width: fit-content;
  margin-right: 10px;
}
.mainDiv{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
}

.list-element, .top-list-element
{
    width: 400px;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 5px;

}

.top-list-container
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.list-element:hover, .top-list-element:hover
{
    cursor: pointer;
    color: white;
    background-color: blueviolet;
    list-style: none;
}

.anime
{
   border: 1px solid black;
   background-color: rgb(172, 169, 169); 
   color: greenyellow;
}



.animelistdiv {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    margin: 20px;
    box-shadow: #0000004d 2px 2px 6px 0px;
    
}
.info-animeinfo{
    padding: 20px;
    padding-left: 0px;
}
.info-datashower{
    display:flex;
   
}

.menu
{   
    margin-left: 50px;
    display: flex;
    list-style: none;

}

.menu-item
{
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.title-and-menu
{
    align-items: center;
    display: flex;
}

.top-list-image
{
    width: 100px;
    margin-right: 10px;
}



.top-anime-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    /* border-bottom: 1px solid black; */
    /* text-align: left; */
}
.top-anime-table-header{  
    font-size: 1.3em;
    color: white;
    background-color: blueviolet;
}
.top-anime-table td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}



.top-anime-table tr:hover {

    cursor: pointer;
    color: white;
    background-color: blueviolet;
  

}
.Schedule-Container{
    /* background-color: blueviolet; */
    /* background-color: #F3F3F5; */
    display: flex;
    justify-content: center;    
    margin: 40px;
    border-radius: 5px;
}
.Day-Container{
   
    margin: 10px;
    width: 14%;
    
}
.anime-schedule-title{
    background-color: var(--main-card-bg-color);
    margin-bottom: 5px;
    border-radius: 5px;
    border: blueviolet 1px solid;
    padding: 5px;
}
.anime-schedule-title:hover{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}
.Day{
    color: white;
    background-color: blueviolet;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.single-day-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
   background-color: var(--main-card-bg-color);
   margin: 2px;
   display: flex;
   flex-direction: row;
   /* align-items: center;
   justify-content: flex-end; */
   /* height: 99%; */
   border-radius: 5px;
   border-bottom: solid 3px blueviolet;
   box-shadow: #0000003d 2px 2px 6px 1px;

}
.anime-card-info, .anime-card-info-genres{
    max-height: 55px;
    font-size: 12px;
    /* width: 34%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 5px;
    padding: 2px;
    overflow: hidden;

   
}
.anime-card-info-genres{
    font-size: 10.5px;
    justify-content: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.single-genre{
    margin-right: 5px;
}
.anime-card-synopsis{
    max-height: 120px;
    overflow: auto;
    font-size: 13px;
    font-weight: 750;
    padding: 2px;

}
.anime-card-synopsis::-webkit-scrollbar{
    width: 0.1px;
}
.anime-card-title{
    min-height: 50px;
    max-height: 70px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid blueviolet;
}
.anime-card-title:hover {
    cursor:pointer;
    color: blueviolet;
}
.anime-card-image {
    min-height: 318px;
    min-width: 225px;
    border-radius: 10px 10px 10px 10px;
    transform: scale(0.85);

    transition: min-height 0.2s;
}
.anime-card-image:hover {
    cursor: pointer;
}
.single-day-container{
    padding: 1px;
   
   
}
.card-container{
    /* background: linear-gradient(to top, blueviolet, rgba(255, 255, 255, 0)); */
    margin: 15px;
    min-width: 32em;
    max-width: 32em;
    padding: 0.05px;
    border-radius: 10px;
}
.anime-card-data-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 55%;
    max-width: 55%;

}
.anime-card-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-top: solid blueviolet 1px;
    padding-top: 10px;
}
.Season-Type{
    background-color: blueviolet;
    margin: 15px 65px 5px 65px;
    color: white;
    padding: 5px;
    font-size: 19px;
}
.button-filter{
    padding: 4px 15px 4px 15px;
    height: 2em;
    background-color: white;
    border: solid 2px blueviolet;
    border-radius: 5px;
}
.button-filter:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
.button-filter-selected{
    border: solid 2px blueviolet;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
.filters-div{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-card-bg-color);
    box-shadow: #0000002b 2px 2px 6px 1px;
    border-radius: 5px;
    border-top: solid 2px blueviolet;
    padding: 10px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 10px;
}
.anime-info-entire-container{
    margin: 0px 65px 20px 65px;
}
.anime-info-title-synopsis-card{
    display: flex;
    background-color: var(--main-card-bg-color);
    padding: 20px;
    border-radius: 5px;
    border-bottom: solid 2px blueviolet;
    box-shadow: #0000003d 2px 2px 6px 1px;
}
.anime-info-img{
    margin-right: 20px;
    border-radius: 5px;

}
.anime-info-title{
    text-align: start;
    margin-bottom: 10px;
    border-bottom: 0.5px solid black;
}
.anime-info-synopsis{
padding-top: 30px;
}
.anime-info-information-card{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-card-bg-color);
    padding: 20px;
    border-radius: 5px;
    border-bottom: solid 2px blueviolet;
    box-shadow: #0000003d 2px 2px 6px 1px;
}
.anime-info-single-info-div{


    padding: 20px 0px 20px 0px;
   
}
.anime-info-single-info-div-seperator{
    border-right: solid 2px blueviolet;
    padding: 20px 0px 20px 0px;
   
}
.anime-info-related-card{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    background-color: var(--main-card-bg-color);
    padding: 20px;
    border-radius: 5px;
    border-bottom: solid 2px blueviolet;
    box-shadow: #0000003d 2px 2px 6px 1px;
}
.anime-info-single-related{
    padding: 10px 20px 10px 20px ;
}
.search-dropdown{

    overflow-y: scroll;
    max-height: 600px;
    
}
.search-dropdown::-webkit-scrollbar{
    background-color: #f7f6fb5b;
    width: 0.7rem;
}
.search-dropdown::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 7px;
}
.search-dropdown::-webkit-scrollbar-thumb:hover{
    background-color: rgb(168, 87, 243);
}

.search-dropdown-entire-container{
    display:flex;
    max-height: 15em;
    padding: 10px;
    border-bottom: 0.5px rgba(5, 5, 5, 0.24) solid;
}
.search-dropdown-entire-container:hover{
    color: #FFFFFF;
    background-color: blueviolet; 
    cursor: pointer;
}
.search-dropdown-result-image{
    height: 8em;
    width: 5.5em;


    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 5px 5px 5px 5px;
    /* transform: scale(0.5); */
    cursor: pointer;
}

.search-dropdown-result-data-container{
    display:flex;
    flex-direction: column;
    max-width: 290px;
    margin-left: 20px;
   
}
.search-dropdown-result-title{

    margin-bottom: 10px;
    text-align: left;
}
.search-dropdown-result-title:hover{
    
    cursor: pointer;
}
.search-dropdown-result-info{
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
}